.hid{
	display:none
}
span.required{
	color:red
}
.loading{
	display:none;
	font-size:17px;
	transition: all 300ms;
}
.deleting > *,.deleting:hover > *
{
	background:#ff9898 !important;
	transition: all 300ms;
}
.rtl,
.rtl-text{
	direction:rtl;
	text-align:right;
}
.ltr{
	direction:ltr;
	text-align:left;
}
.bk-center{
	margin-right:auto !important;
	margin-left:auto !important;
}
ul.socialmedia {
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 210px;
}
ul.socialmedia li {
    list-style-type: none;
    float: left;
}
ul.socialmedia li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}
ul.socialmedia .fa-facebook {
    background:#3b5998
} 
ul.socialmedia .fa-linkedin {
    background:#007bb6
}
ul.socialmedia .fa-twitter {
    background:#00aced
}
ul.socialmedia .fa-google-plus {
    background:#dd4b39
}
ul.socialmedia li a i:hover {
    opacity: .7;
}
#ajaxFind input{
	background:url("icon-search.png") no-repeat scroll 98% center rgba(0, 0, 0, 0)
}
#results label{
    color: #ff8782;
    font-family: Courier New;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

#gz-login-form{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
	margin: 10px auto;
	padding: 10px 14px 40px;
}
/*
	LOGN & REGISTERATION FORM
*/
@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white;
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .input-group.i {
	width: 2em;
}
.omb_login .help-block {
    color: red;
}

@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}