.hid{
	display:none
}
span.required{
	color:red
}
.btn-facebook{background-color:#3b5998;color:#fff}
.btn-facebook:hover,.btn-facebook:active{background-color:#6d84b4;color:#fff}
.btn-twitter{background-color:#00aced;color:#fff}
.btn-twitter:hover,.btn-twitter:active{background-color:#1dcaff;color:#fff}
.loading{
	display:none;
	font-size:17px;
	transition: all 300ms;
}
.deleting > *,.deleting:hover > *
{
	background:#ff9898 !important;
	transition: all 300ms;
}
.rtl-text{
	direction:rtl;
	text-align:right;
}
